---
import { Icon } from 'astro-icon/components';
import { findImage } from '@/utils/images';
import {
  astroAssetsOptimizer,
  getImagesOptimized,
} from '@/utils/images-optimization';
import Image from '../common/Image.astro';

import footerBg from '@/assets/images/site/mobile/footer.png';
import logoColorida from '@/assets/images/site/logo.png';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const _image = await findImage(footerBg);
const image = await getImagesOptimized(_image!, {}, astroAssetsOptimizer);

const { socialLinks = [], links = [], footNote = '' } = Astro.props;
---

<footer
  style={`background-image: url(${image?.src});`}
  class:list={[
    'relative min-h-[546px] w-full bg-contain bg-center bg-repeat-x',
    'px-4 py-6 lg:px-8',
    'flex flex-col justify-evenly gap-2 lg:gap-6',
  ]}
>
  <!-- Links, Sociais e Logo -->
  <div class="flex flex-col items-center justify-center gap-4 lg:flex-row">
    <!-- Links e Sociais -->
    <div
      class="flex h-full w-full items-center justify-center lg:flex-col-reverse lg:items-start lg:gap-6"
    >
      <!-- Social -->
      <div
        class="relative flex h-full w-[30%] max-w-[180px] items-center justify-center lg:max-w-[250px] lg:justify-start"
      >
        <div
          class="social-wrapper flex flex-col items-center gap-2.5 lg:flex-row"
        >
          {
            socialLinks.map(({ ariaLabel, href, text, icon }) => (
              <a
                class="text-muted bg-caju-heading-yellow inline-flex h-fit w-fit items-center rounded-full p-1 text-sm"
                aria-label={ariaLabel}
                href={href}
              >
                {icon && (
                  <Icon name={icon} class="size-8 text-white lg:size-10" />
                )}
                <Fragment set:html={text} />
              </a>
            ))
          }
        </div>
        <!-- Separador amarelo -->
        <div
          class="bg-caju-heading-yellow justify-self absolute top-1/2 right-0 h-[235px] w-1 -translate-y-1/2 lg:hidden"
        >
        </div>
      </div>
      <!-- Links -->
      <div class="grid flex-1 gap-5 pl-6">
        {
          links.map(({ title, links }, index) => (
            <div class="flex flex-col gap-1 pb-3 last:border-b-0">
              <h5 class="text-caju-heading-yellow mb-0! text-sm uppercase lg:text-[32px]">
                {title}
              </h5>
              <ul class="font-inter text-xsm grid grid-cols-2 grid-rows-3 gap-2 lg:flex lg:flex-row lg:gap-6 lg:text-[24px]">
                {links.map(({ href, text, ariaLabel }) => (
                  <li
                    class:list={[
                      { 'col-span-2': links.length <= 3 },
                      { 'row-span-3': index === 1 },
                    ]}
                  >
                    <a
                      class="hover:text-caju-secondary-orange text-white"
                      href={href}
                      aria-label={ariaLabel}
                    >
                      {text}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>

    <!-- Logo -->
    <div
      class="flex h-[94px]! w-[157px]! items-center justify-center lg:order-first lg:h-[322px]! lg:w-[540px]!"
    >
      <Image
        class="h-full w-full object-cover"
        sizes="(max-width: 900px) 157px, 540px"
        src={logoColorida}
        alt="São geraldo"
      />
    </div>
  </div>

  <!-- Footnote -->
  <div class="flex flex-col items-center justify-center gap-2 lg:flex-row">
    <div
      class="text-xxs font-inter text-center leading-[140%] text-white lg:w-full lg:text-[20px]!"
    >
      <Fragment set:html={footNote} />
    </div>
  </div>
</footer>
